* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100vh;
}

img[src=""],
img:not([src]) {
  opacity: 0;
}

.header-background-image {
  height: 36vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(http://www.diyiziti.com/Res/Images//Temp/325/2101fad2f58a44d186798de6bd8134f0.PNG);
}

.body {
  height: auto;
  min-height: 64vh;
  /* background-color: #558bef; */
  border: none;
}

.image {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  width: 40vh;
  height: auto;
  min-height: 40vh;
  border: 10px dashed transparent;
}

#finalImg {
  width: 100%;
  height: auto;
  min-height: 100%;
  border: none;
}

.image-upload-input {
  visibility: hidden;
  position: absolute;
}

.image-upload-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -60px;
}

.button-container {
  text-align: center;
  height: 16vh;
  margin-top: 8vh;
}

.addHat-button:before {
  content: "";
  display: block;
  position: absolute;
  top: -48px;
  left: 0;
  right: 0;
  background-size: 100px;
  opacity: 1;
  height: 70px;
}

.button {
  line-height: 1.5;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 40px;
  width: 40vh;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 4px;
  border-color: #1296db;
  color: #fff;
  background-color: #1296db;
  border-color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

:focus {
  outline: none;
}

.hidden {
  display: none;
}
.tailoring-container,
.tailoring-container div,
.tailoring-container p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.tailoring-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}
.tailoring-container .trailoring-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #111;
  opacity: 0.9;
  z-index: 1001;
}

.tailoring-container #tailoringImg {
  width: 100%;
}

.tailoring-container .tailoring-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1002;
}

.tailoring-container .tailoring-content-footer {
  position: fixed;
  width: 100%;
  height: 40px;
  bottom: 10px;
  text-align: center;
}

.tailoring-container .tailoring-content-footer button {
  color: white;
  font-size: 16px;
  margin: 0 20px;
  background-color: transparent;
  border: none;
}

.loading-icon svg {
  display: inline-block;
  -webkit-animation: loadingCircle 1s infinite linear;
  animation: loadingCircle 1s infinite linear;
}

@keyframes loadingCircle {
  100% {
    transform: rotate(360deg);
  }
}
